Repository Fintech-Blueprint/example-service, changes with the owners that CODEOWNERS names for each.
All owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads, @Fintech-Blueprint/devops, @Fintech-Blueprint/engineers, @Fintech-Blueprint/product-owners, @Fintech-Blueprint/technical-writers

CODEOWNERS:

# Default owners for everything in the repo
*       @Fintech-Blueprint/cto @Fintech-Blueprint/admins

# Scripts and tooling require dev lead approval
scripts/      @Fintech-Blueprint/dev-leads

# CI/CD and infrastructure
.github/**    @Fintech-Blueprint/devops
deploy/**     @Fintech-Blueprint/devops
Dockerfile    @Fintech-Blueprint/devops

# Core service code
src/**        @Fintech-Blueprint/engineers
tests/**      @Fintech-Blueprint/engineers

# Feature specifications and documentation
features/**   @Fintech-Blueprint/product-owners @Fintech-Blueprint/engineers
docs/**       @Fintech-Blueprint/technical-writers @Fintech-Blueprint/engineers

chore(sprint3): make bootstrap script sprint-aware and use Helm for Istio install; write evidence to sprint directories
  bootstrap-local-mesh.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

chore: ignore local istio-1.20.0 download directory
  .gitignore
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

chore(sprint3): update evidence chain; make bootstrap sprint-aware; fix hash-evidence script
  EVIDENCE_CHAIN.md
  bootstrap-local-mesh.sh
  scripts/hash-evidence.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

evidence(sprint3): add kind config and bootstrap/validation logs
  config/local/kind-config-sprint3.yaml
  evidence/sprint3/bootstrap.log
  evidence/sprint3/ingress-debug.log
  evidence/sprint3/mtls-check.log
  evidence/sprint3/rbac-check.log
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

fix(sprint3): make bootstrap resilient; add istio sidecar injection
  bootstrap-local-mesh.sh
  charts/service-c/templates/deployment.yaml
  scripts/hash-evidence.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

config(sprint3): add global helm values and promotion documentation
  PROMOTION_NOTES.md
  charts/global-values.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

evidence(sprint3): add bootstrap, validation and istio installation logs
  EVIDENCE_CHAIN.md
  evidence/sprint3/bootstrap-20250926_013853.log
  evidence/sprint3/bootstrap-20250926_014235.log
  evidence/sprint3/bootstrap-20250926_014721.log
  evidence/sprint3/bootstrap-20250926_014931.log
  evidence/sprint3/bootstrap-20250926_015304.log
  evidence/sprint3/bootstrap-20250926_020016.log
  evidence/sprint3/bootstrap-20250926_020724.log
  evidence/sprint3/istio-events-20250926-021359.log
  evidence/sprint3/istio-install-20250926-014826.log
  evidence/sprint3/istio-install-20250926-015038.log
  evidence/sprint3/istio-pods-20250926-015931.log
  evidence/sprint3/istio-pods-20250926-020650.log
  evidence/sprint3/istio-pods-20250926-021359.log
  evidence/sprint3/mtls-20250926_110616.log
  evidence/sprint3/rbac-20250926_110622.log
  evidence/sprint3/service-events-20250926-021359.log
  evidence/sprint3/service-pods-20250926-021359.log
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint3): add service-a/b templates, deploy mesh services, collect validation evidence
  EVIDENCE_CHAIN.md
  config/local/services/service-a/templates/deployment.yaml
  config/local/services/service-a/templates/service.yaml
  config/local/services/service-a/values.yaml
  config/local/services/service-b/templates/deployment.yaml
  config/local/services/service-b/templates/service.yaml
  config/local/services/service-b/values.yaml
  evidence/sprint3/istio-analyze-20250926_111843.log
  evidence/sprint3/istio-install-20250926_111236.log
  evidence/sprint3/mtls-final-20250926_111828.log
  evidence/sprint3/mtls-validate-20250926_111421.log
  evidence/sprint3/rbac-final-20250926_111829.log
  evidence/sprint3/service-c-chart-20250926_111900.yaml
  evidence/sprint3/service-c-mesh-20250926_111404.log
  evidence/sprint3/service-status-20250926_111345.log
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint3): add mesh policies, validation script, and final validation evidence
  EVIDENCE_CHAIN.md
  config/local/mesh/mtls-policy.yaml
  config/local/mesh/rbac-policy.yaml
  evidence/sprint3/istio-analyze-post-policy-20250926_112101.log
  evidence/sprint3/mesh-validation-20250926_112205.log
  evidence/sprint3/mesh-validation-final-20250926_112308.log
  tests/mesh/validate-mesh.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

docs(sprint3): add comprehensive implementation report
  sprint3/IMPLEMENTATION_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint4): add monitoring stack and canary deployment
  charts/monitoring/dashboards/service-b.json
  charts/monitoring/values-grafana.yaml
  charts/monitoring/values-prometheus.yaml
  charts/service-b/templates/deployment-v2.yaml
  charts/service-b/templates/istio/destination-rule.yaml
  charts/service-b/templates/istio/virtual-service.yaml
  scripts/setup-sprint4.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

feat(sprint4): complete monitoring implementation and add bi-daily report
  charts/monitoring/values-grafana.yaml
  charts/service-b/templates/deployment-v2.yaml
  evidence/sprint4/20250926T222838Z-prometheus-targets.log
  scripts/setup-sprint4.sh
  sprint4/bi-daily/20250926_2230.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

feat(sprint5): add resilience implementation
  scripts/sprint5/run-sprint5.sh
  sprint5/01-fault-injection/istio-fault-injection.yaml
  sprint5/02-chaos/chaos-scripts.sh
  sprint5/03-canary/canary-rollout.yaml
  sprint5/04-alerts/prometheus-rules.yaml
  sprint5/05-monitoring/prometheus-values-pvc.yaml
  sprint5/06-grafana/dashboards/golden-signals.json
  sprint5/FINAL_SUMMARY.md
Owners: @Fintech-Blueprint/dev-leads, @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint5): add implementation evidence
  evidence/sprint5/grafana-dashboards-20250926T231149Z.json
  evidence/sprint5/prometheus-pvc-upgrade-20250926T230536Z.log
  evidence/sprint5/prometheus-pvc-upgrade-20250926T230704Z.log
  evidence/sprint5/prometheus-rules-20250926T230536Z.log
  evidence/sprint5/prometheus-rules-20250926T230704Z.log
  evidence/sprint5/prometheus-targets-20250926T231149Z.json
  evidence/sprint5/run-sprint5-20250926T230536Z.log
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

chore(sprint5): add missing configuration files
  EVIDENCE_CHAIN.md
  sprint5/03-canary/canary-rollout.yaml
  sprint5/04-alerts/rules.yaml
  sprint5/06-grafana/values.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint5): add comprehensive coverage report
  sprint5/COVERAGE_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint5): add final metrics collection and Sprint 6 planning
  EVIDENCE_CHAIN.md
  evidence/sprint5/metrics/grafana_dashboards_20250926T232603Z.json
  evidence/sprint5/metrics/prometheus_snapshot_20250926T232602Z.json
  scripts/grafana_dashboard_export.sh
  scripts/prometheus_snapshot.sh
  sprint6/PLANNING.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

docs(sprint5): add final completion report
  sprint5/COMPLETION_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

fix: pin pydantic version
  services/service-b/requirements.txt
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

fix(ci): resolve Dockerfile and dependency issues
  services/service-a/deployment.yaml
  services/service-a/requirements.txt
  services/service-a/src/main.py
  services/service-b/Dockerfile
  services/service-b/deployment.yaml
  services/service-b/service.yaml
  services/service-b/src/main.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/devops

docs(evidence): add Sprint 5 container hashes
  EVIDENCE_CHAIN.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint6): add monitoring, traffic management, and chaos testing configurations
  services/service-a/main.py
  services/service-a/mesh/istio-auth.yaml
  services/service-a/metrics.py
  services/service-a/prepare_promotion.py
  services/service-a/promotion.py
  services/service-a/validation_gates.py
  services/service-b/main.py
  services/service-b/mesh/istio-auth.yaml
  services/service-c/chaos/chaos-test.yaml
  services/service-c/deployment.yaml
  services/service-c/mesh/istio-auth.yaml
  services/service-c/mesh/traffic-management.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(cto): add implementation report and validation script
  grafana-dashboards/service-c-dashboard.json
  infra/prometheus/rules/service-c-alerts.yaml
  scripts/collect-sprint6-evidence.sh
  scripts/validate-cto-implementation.sh
  sprint3/CTO_IMPLEMENTATION_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

docs(cto): add final implementation report with 100% coverage verification
  CTO_IMPLEMENTATION_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

Sprint 6: Add monitoring stack and traffic management setup
  monitoring/grafana/dashboards/service-c-dashboard.json
  monitoring/istio/service-b-destination-rule.yaml
  monitoring/istio/service-b-virtual-service.yaml
  monitoring/prometheus/rules/service-c-alerts.yml
  scripts/execute_chaos_tests.sh
  scripts/generate_sprint6_report.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

Sprint 6: Complete implementation with full coverage
  docs/sprint6_implementation_report.md
  requirements.txt
  scripts/schedule_chaos_tests.py
  scripts/validate_resilience.py
  scripts/validate_traffic_distribution.py
Owners: @Fintech-Blueprint/technical-writers, @Fintech-Blueprint/engineers, @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

Sprint 6: Add Kubernetes manifests and E2E validation
  k8s/base/kustomization.yaml
  k8s/base/service-b.yaml
  requirements.txt
  scripts/setup_monitoring.sh
  scripts/validate_e2e.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads
