Repository Fintech-Blueprint/example-service, changes with the owners that CODEOWNERS names for each.
All owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads, @Fintech-Blueprint/devops, @Fintech-Blueprint/engineers, @Fintech-Blueprint/product-owners, @Fintech-Blueprint/technical-writers

feat: update CI pipeline per CTO requirements
  .github/workflows/ci.yml
Owners: @Fintech-Blueprint/devops

feat: add health check endpoint
  src/adapters/http/health_controller.py
  src/main.py
Owners: @Fintech-Blueprint/engineers

docs: add comprehensive Task 7 implementation report for CTO review
  .github/run-reports/cto-implementation-report.md
Owners: @Fintech-Blueprint/devops

docs: add implementation reports and checkpoints
  .github/run-reports/auto-action-checkpoints.md
  .github/run-reports/checkpoints.md
  .github/run-reports/cto-executive-report.md
  .github/run-reports/implementation-verification.md
Owners: @Fintech-Blueprint/devops

feat: implement CTO pilot requirements
  .monitoring/dashboards/health.json
  scripts/smoke_test.py
  src/core/monitoring.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads, @Fintech-Blueprint/engineers

feat: implement CTO pilot phase requirements
  Makefile
  generator
  tests/test_basic.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

feat: implement CTO pilot phase requirements
  generator
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat: implement CTO monitoring requirements
  .monitoring/dashboards/health.json
  reports/005cc0262265/20250924140440/container.sig
  reports/005cc0262265/20250924140440/manifest.json
  reports/005cc0262265/20250924140440/resource-estimates.json
  reports/005cc0262265/20250924140440/sbom.cyclonedx.json
  reports/005cc0262265/20250924140440/sbom.sig
  reports/005cc0262265/20250924140440/spec-coverage.json
  reports/005cc0262265/20250924140440/spec-validation-report.json
  reports/005cc0262265/20250924140440/status.txt
  reports/005cc0262265/20250924143000/manifest.json
  reports/005cc0262265/20250924143000/resource-estimates.json
  reports/005cc0262265/20250924143000/spec-coverage.json
  reports/005cc0262265/20250924143000/spec-validation-report.json
  reports/005cc0262265/latest/20250924135152
  reports/005cc0262265/latest/20250924140440
  reports/005cc0262265/reports/005cc0262265/latest
  reports/auto-merge-17750378058/checks-1.json
  reports/null/20250924T133947Z-null/checks-1.json
  reports/null/20250924T133947Z-null/checks-2.json
  reports/null/20250924T133947Z-null/checks-3.json
  reports/null/20250924T133947Z-null/current_checks.json
  reports/null/20250924T133947Z-null/environment.json
  reports/null/20250924T133947Z-null/notes.txt
  reports/null/20250924T133947Z-null/pr_selection.txt
  reports/null/20250924T133947Z-null/prerequisites.txt
  reports/pr_selection.json
  requirements.txt
  src/adapters/http/health_controller.py
  src/adapters/http/metrics_controller.py
  src/main.py
  tests/smoke/test_deployment.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

fix: rename smoke test to avoid naming conflict
  tests/smoke/test_ping_smoke.py
Owners: @Fintech-Blueprint/engineers

fix: update smoke test for local development
  requirements.txt
  tests/smoke/test_ping_smoke.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

fix: update smoke test for local development
  .env.example
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

fix: handle JSON response properly in smoke test
  tests/smoke/test_ping_smoke.py
Owners: @Fintech-Blueprint/engineers

fix: add proper error handling in health controller
  src/adapters/http/health_controller.py
Owners: @Fintech-Blueprint/engineers

feat: implement CTO clarified requirements
  src/adapters/http/health_controller.py
  tests/smoke/test_ping_smoke.py
Owners: @Fintech-Blueprint/engineers

docs: add CTO instruction analysis
  .github/analysis/instruction-analysis.md
Owners: @Fintech-Blueprint/devops

config: add clarified configuration
  .github/config/clarified-config.yaml
Owners: @Fintech-Blueprint/devops

docs: update CTO executive report
  .github/run-reports/cto-executive-report.md
Owners: @Fintech-Blueprint/devops

feat: implement Phase 2 core components
  golden-goose/goose.py
  org-config.yaml
  src/adapters/http/health_controller.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

feat: Add new phase implementation files and update existing endpoints
  .github/analysis/phase2-analysis.md
  CTO_PHASE2_REPORT.md
  PHASE3_INSTRUCTIONS.md
  PHASED_IMPLEMENTATION.md
  src/adapters/http/ping_endpoint_controller.py
  src/core/dependency_manager.py
  src/core/mode_manager.py
  src/core/ping_endpoint/service.py
  tests/contract/test_contract_ping.py
  tests/integration/test_ping_endpoint_endpoint.py
  tests/unit/test_mode_manager.py
  tests/unit/test_ping_endpoint_service.py
Owners: @Fintech-Blueprint/devops, @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

chore: phase3 baseline metrics 20250924140500
  audit/metrics-baseline.json
  audit/metrics-baseline.json.sha256
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

chore(phase3): completed drills and Golden Goose release v1.0.0
  audit/releases/v1.0.0/checksums.txt
  audit/releases/v1.0.0/manifest.json
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint1): closure report and environment status
  context/tools_status.txt
  context/vault_status.json
  sprint1/closure_report.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint2): complete implementation
  context/tools_status.txt
  grafana-dashboards/promotion-kpis.json
  services/service-a/mesh/istio-auth.yaml
  services/service-b/mesh/istio-auth.yaml
  services/service-c/deployment.yaml
  services/service-c/mesh/istio-auth.yaml
  sprint2/implementation_report.md
  sprint2/worm_plan.md
  src/core/parallel_promotion.py
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

feat(sprint2): add promotion dashboard and update tools status
  context/tools_status.txt
  grafana-dashboards/promotion-dashboard.json
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): add initial status update
  sprint2/daily_20250925_1400.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): add comprehensive CTO implementation report
  sprint2/CTO_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint2): implement mesh configuration and evidence chain
  EVIDENCE_CHAIN.md
  infra/vault/policies/archive-deleter.hcl
  infra/vault/policies/dev-read-only.hcl
  sprint2/bi-daily/20250925_1445.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): add mesh validation evidence and bi-daily template
  EVIDENCE_CHAIN.md
  sprint2/CTO_TRANSITION_REPORT.md
  sprint2/bi-daily/template.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(mesh): add validation scripts and environment setup
  ENVIRONMENT_SETUP.md
  EVIDENCE_CHAIN.md
  tests/mesh/check-mtls.sh
  tests/mesh/check-rbac.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/engineers

docs(sprint2): merge and enhance environment setup documentation
  EVIDENCE_CHAIN.md
  sprint2/ENVIRONMENT_SETUP.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): clean up and add bi-daily report
  ENVIRONMENT_SETUP.md
  sprint2/bi-daily/20250925_1600.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): add CTO directive implementation report
  sprint2/CTO_IMPLEMENTATION_REPORT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs: add Sprint 3 prep and enhance risk assessment
  SPRINT3_PREP.md
  evidence/mesh/README.md
  sprint2/RISK_ASSESSMENT.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(sprint2): add bi-daily report for Sept 26 04:00 UTC
  sprint2/bi-daily/20250926_0400.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat: implement continuation instructions
  EVIDENCE_CHAIN.md
  SPRINT3_PREP.md
  evidence/dry-run/mtls-20250925-2253.log
  evidence/dry-run/rbac-20250925-2254.log
  scripts/hash-evidence.sh
  sprint2/RISK_TIMELINE.md
  sprint3/helm/service-c/Chart.yaml
  sprint3/istio/parallel-promotion.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

feat(sprint2): add local mesh environment setup
  bootstrap-local-mesh.sh
  config/local/kind-config.yaml
  config/local/minikube-config.yaml
  config/local/services/service-a/Chart.yaml
  config/local/services/service-b/Chart.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(sprint2): finalize local environment setup
  config/local/services/service-a/templates/deployment.yaml
  config/local/services/service-b/templates/deployment.yaml
  sprint2/ENVIRONMENT_SETUP.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

docs(evidence): update evidence chain with new hashes
  EVIDENCE_CHAIN.md
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins

feat(setup): run bootstrap and capture logs
  evidence/bootstrap.log
  evidence/checksums.txt
  evidence/validation/mtls-check.log
  evidence/validation/rbac-check.log
  scripts/check-mtls.sh
  scripts/check-rbac.sh
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

chore(sprint3): add service-c helm skeleton, worm-config draft, update hash-evidence and evidence chain initiation
  EVIDENCE_CHAIN.md
  charts/service-c/Chart.yaml
  charts/service-c/templates/_helpers.tpl
  charts/service-c/templates/deployment.yaml
  charts/service-c/templates/service.yaml
  charts/service-c/values.yaml
  scripts/hash-evidence.sh
  storage/worm-config.yaml
Owners: @Fintech-Blueprint/cto, @Fintech-Blueprint/admins, @Fintech-Blueprint/dev-leads

CODEOWNERS:

# Default owners for everything in the repo
*       @Fintech-Blueprint/cto @Fintech-Blueprint/admins

# Scripts and tooling require dev lead approval
scripts/      @Fintech-Blueprint/dev-leads

# CI/CD and infrastructure
.github/**    @Fintech-Blueprint/devops
deploy/**     @Fintech-Blueprint/devops
Dockerfile    @Fintech-Blueprint/devops

# Core service code
src/**        @Fintech-Blueprint/engineers
tests/**      @Fintech-Blueprint/engineers

# Feature specifications and documentation
features/**   @Fintech-Blueprint/product-owners @Fintech-Blueprint/engineers
docs/**       @Fintech-Blueprint/technical-writers @Fintech-Blueprint/engineers
